*.json  linguist-language=JSON-with-Comments
assets/**/* linguist-vendored
.*/**/* linguist-vendored
./**/*.js linguist-vendored
./**/*.cjs linguist-vendored
./**/*.html linguist-vendored
./*.html linguist-vendored
./*.js linguist-vendored
./*.cjs linguist-vendored
